@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#container {
	width: 70%;
	margin: auto;
	background-color: rgba(140,120,103,0.7);
}

header {
	font-size: 35px;
}

header, h2 {
	text-align: center;
	font-family: 'Libre Baskerville', serif;
}

.content h2 {
	font-size: 25px;
}

p {
font-family: 'Lato', sans-serif;
}

nav {
	margin: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c4442;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: #d7bfad;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #000000;
-webkit-transform: scaleY(1.5);
	  -oz-transform: scaleY(1.5);
	-moz-transform: scaleY(1.5);
	  transform: scaleY(1.5);
}

.active {
	background-color: #2e1e1e;
}

/*Collapse navigation*/	
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
	
nav a#pull {
	display: none;
}


.content {
	color: white;
	padding: 10px 50px;
	font-size: 17px;
}

.content img {
	padding: 10px;
	border-radius: 30px;
	display: block;
	margin: auto;
}

.content ul a {
	text-decoration: none;
	color: white;
}

h2 {
	padding: 10px 20px;
}

#col1, #col2 {
	display: block;
	width: 45%;
	padding: 10px;
}

#col1 {
		float: left;
}
#col2 {
	float: right;
}

footer ul {
	  list-style-type: none;
	text-align: left;
}

footer li a {
	color: #d7bfad;
}

footer {
	color: #d7bfad;
	background-color: #5c4442;
	padding: 30px 0;
}

footer #credits {
	padding-top: 15px;
	text-align: center;
	clear: both;
}


/* * * * * * Smartphone & Small Tablet*/
@media (min-width:320px) and (max-width: 736px){ 
	
		nav ul {
		display: none;
		height: auto;
	}
	
	nav ul li {
		display: block;
		padding: 5px 0;
		border-top: dotted 1px #2b2b2b;
	}
	
	nav a#pull {
		display: block;
		color: #2b2b2b;
		text-decoration: none;
		text-transform: uppercase;
		background-color: #f1f1f1;
		border-top: dotted 1px #2b2b2b;
		border-bottom: dotted 1px #2b2b2b;
		height: 20px;
		padding: 10px;
		text-align: left;
		position: relative;
		margin: 0 0 10px 0;
	}
	
	nav a#pull:after {
		content:"";
		background: url(../images/nav-icon.png) no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 25px;
		top: 10px;
	}
	
	#col1, #col2 {
		width: 100%;
		clear:both;
	}
}

.content img {
	max-width: 100%;
}

header {
	font-size: 25px;
}

@media (min-width:768px) and (max-width: 1024px){ 
	
	header {
	font-size: 30px;
}
}
	